[Unit]
Description=Disable Swap

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/sbin/swapoff -a && /sbin/sysctl vm.swappiness=0 && /sbin/sysctl -w vm.vfs_cache_pressure=50'

[Install]
WantedBy=multi-user.target
